<krpano>

	<control mode="follow" />
	<memory maxmem="350" />

	<textstyle name="DEFAULT"
		origin="cursor"
		edge="bottom"
		xoffset="0"
		yoffset="-3"
		fadeintime="0.0"
		showtime="0.1"
		fadetime="0.0"
		font="Public Sans"
		fontsize="12.0"
		bold="false"
		textcolor="0xFFFFFF"
		textalign="none"
		padding="5 12"
		background="true"
		backgroundcolor="0x222222"
		backgroundalpha="1.0"
		bgborder="true"
		bordercolor="0x222222"
		borderalpha="1.0"
		borderwidth="1.0"
		roundedge="6"
		bgshadow="0.0"
		shadowrange="4.0"
		shadowangle="45"
		shadowcolor="0x222222"
		shadowalpha="1.0"
		txtshadow="0.0"
		textshadowrange="4.0"
		textshadowangle="45"
		textshadowcolor="0x000000"
		textshadowalpha="1.0"
		alpha="1.0"
		parent=""
		noclip="true"
	/>

	<!-- styles/designs for the cursor elements -->
	<style name="scene_pano_cursor"
		cssClass="scene-pano-cursor"
		keep="true"
		type="image"
		url="../images/cursor.svg"
		width="20"
		height="20"
		oversampling="3"
		mipmapping="true"
		distorted="true"
		depth="0"
		alpha.mobile="0"
		alpha.tablet="0"
		depthbuffer="true"
		depthoffset="-100"
		depthwrite="false"
		rotationorder="zxy"
		enabled="false"
		zorder="1"
	/>

	<style name="infotag"
		type="image"
		url="../images/tag.svg"
		width="30"
		height="30"
		distorted="false"
		zorder="1"
		depth="0"
		depthbuffer="true"
		depthoffset="-100"
		enabled="false"
		rotationorder="zxy"
		onover.addevent="js(showCursorHotspot(false));"
		onout.addevent="js(showCursorHotspot());"
	/>

	<style name="infonotehotspot"
		type="image"
		url="../images/note.svg"
		width="30"
		height="30"
		distorted="false"
		zorder="1"
		depth="0"
		depthbuffer="true"
		depthoffset="-100"
		enabled="false"
		rotationorder="zxy"
		onover.addevent="js(showCursorHotspot(false));" 
		onout.addevent="js(showCursorHotspot());"
	/>

	<style name="infolabelhotspot"
		type="text"
		distorted="false"
		css="font-size: 18px; color: white; font-weight: 600;"
		depth="0"
		depthbuffer="true"
		depthoffset="-100"
		rotationorder="zxy"
		zorder="1"
		bgalpha="0"
	/>

	<style name="infoimagehotspot"
		type="image"
		width="60"
		height="30"
		distorted="true"
		depth="0"
		depthbuffer="true"
		depthoffset="-100"
		zorder="0"
		enabled="false"
		rotationorder="zxy"
		onover.addevent="js(showCursorHotspot(false));"
		onout.addevent="js(showCursorHotspot());"
	/>

	<style name="infovideohotspot"
		url="../js/videoplayer.js"
		type="video"
		pausedonstart="true"
		loop="true"
		width="60"
		height="30"
		distorted="true"
		depth="0"
		depthbuffer="true"
		depthoffset="-100"
		zorder="0"
		capture="true"
		oversampling="2"
		mipmapping="true"
		enabled="true"
		rotationorder="zxy"
		ondown="jscall(toggleVideo(caller));"
		onover.addevent="js(showCursorHotspot(false));"
		onout.addevent="js(showCursorHotspot());"
	/>

	<!-- skin settings (can be overridden in the tour.xml) -->
	<skin_settings
		loadscene_blend="OPENBLEND(0.5, 0.0, 0.75, 0.05, linear)"
		design_bgcolor="0x2D3E50"
	/>

	<autorotate enabled="false"
		waittime="0"
		accel="5.0"
		speed="15.0"
		horizon="0.0"
		tofov="off"
		oneroundrange="180.0"
		zoomslowdown="true"
		interruptionevents="userviewchange|layers|keyboard"
	/>
</krpano>